
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
a:hover{
    text-decoration: none;
    color: white;
}
ul li a{
    color: black;
}
.w-50{
    width: 59%;
}
ul li a:hover{
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}

.action{
    text-align: right;
}

img{
    width: 18px;
    margin-bottom: 8px;
}
.formtrain{
    display: none;
}